* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

/* From Here Header CSS Start */

header {
  max-width: 82%;
  margin: 0 auto;
}

/* CSS Styles for navbar */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 18px;
}

/* navbar start */

header nav .nav-logo {
  width: 25%;
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

/* navbar center */

header nav .nav-center {
  flex: 1;
}

header nav .nav-center .nav-list-container1,
header nav .nav-center .nav-list-container1 li a {
  list-style: none;
  text-decoration: none;
}

header nav .nav-center .nav-list-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #424247;
}

header nav .nav-center .nav-list-container1 li a {
  color: #212832;
  font-size: 17px;
  font-weight: 400;
}

/* navbar end */

header nav .nav-end {
  width: 40%;
  padding-left: 12%;
}

header nav .nav-end .nav-list-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav-end .nav-list-container2,
header nav .nav-end .nav-list-container2 li a {
  list-style: none;
  text-decoration: none;
}

header nav .nav-end .nav-list-container2 li a {
  color: #212832;
  font-size: 17px;
  font-weight: 500px;
}

header nav .nav-list-container2 li button {
  padding: 9px 21px;
  border: 1px solid #212832;
  border-radius: 5px;
  background: transparent;
}

header nav .nav-end .nav-list-container2 li a select {
  border: none;
}

/* banner section start css */

header .banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* banner content part */

header .banner .banner-content {
  flex: 1 1 0%;
}

header .banner .banner-content h4 {
  color: #df6951;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

header .banner .banner-content h1 {
  color: #181e4b;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -3.36px;
  margin: 24px 0 30px 0;
}

/* header .banner .banner-content h1 span {
  position: relative;
  display: inline-block;
}

header .banner .banner-content h1 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px; 
  width: 100%;
  background: url("https://i.imgur.com/4nHcdjQ.png") no-repeat; 
  background-size: cover;
  z-index: -1;
  transform: translateY(5px);
} */

header .banner .banner-content p {
  color: #5e6282;
  font-family: Poppins;
  font-size: 16px;
  line-height: 30px;
}

header .banner .banner-content .button-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

header .banner .banner-content .button-container button {
  color: #fff;
  text-align: center;
  font-family: "Google Sans";
  font-size: 18px;
  font-weight: 500;
  width: 170px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f1a501;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  border: none;
}

header .banner .banner-content .button-container .play-button-container {
  display: flex;
  align-items: center;
}

header .banner .banner-content .button-container .play-button-container img {
  padding-top: 25px;
}

header .banner .banner-content .button-container .play-button-container h5 {
  color: #686d77;
  font-family: Poppins;
  font-size: 17px;
}

/* banner img part */

header .banner .banner-img-container {
  width: 60%;
  text-align: center;
}

header .banner .banner-img-container img {
  width: 100%;
  height: 100%;
}
