* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
}

/* Primary Styles */

header,
main {
  max-width: 82%;
  margin: 0 auto;
}

/* Header Part Start */

/* CSS Styles for navbar */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 18px;
}

/* navbar start */

header nav .nav-logo {
  width: 25%;
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

/* navbar center */

header nav .nav-center {
  flex: 1;
}

header nav .nav-center .nav-list-container1,
header nav .nav-center .nav-list-container1 li a {
  list-style: none;
  text-decoration: none;
}

header nav .nav-center .nav-list-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #424247;
}

header nav .nav-center .nav-list-container1 li a {
  color: #212832;
  font-size: 17px;
  font-weight: 400;
}

/* navbar end */

header nav .nav-end {
  width: 40%;
  padding-left: 12%;
}

header nav .nav-end .nav-list-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav-end .nav-list-container2,
header nav .nav-end .nav-list-container2 li a {
  list-style: none;
  text-decoration: none;
}

header nav .nav-end .nav-list-container2 li a {
  color: #212832;
  font-size: 17px;
  font-weight: 500px;
}

header nav .nav-list-container2 li button {
  padding: 9px 21px;
  border: 1px solid #212832;
  border-radius: 5px;
  background: transparent;
}

header nav .nav-end .nav-list-container2 li a select {
  border: none;
}

/* banner section start css */

header .banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* banner content part */

header .banner .banner-content {
  flex: 1 1 0%;
}

header .banner .banner-content h4 {
  color: #df6951;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

header .banner .banner-content h1 {
  color: #181e4b;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -3.36px;
  margin: 24px 0 30px 0;
}

/* header .banner .banner-content h1 span {
  position: relative;
  display: inline-block;
}

header .banner .banner-content h1 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px; 
  width: 100%;
  background: url("https://i.imgur.com/4nHcdjQ.png") no-repeat; 
  background-size: cover;
  z-index: -1;
  transform: translateY(5px);
} */

header .banner .banner-content p {
  color: #5e6282;
  font-family: Poppins;
  font-size: 16px;
  line-height: 30px;
}

header .banner .banner-content .button-container {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 24px;
  align-items: center;
}

header .banner .banner-content .button-container button {
  color: #fff;
  text-align: center;
  font-family: "Google Sans";
  font-size: 18px;
  font-weight: 500;
  width: 170px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f1a501;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  border: none;
}

header .banner .banner-content .button-container .play-button-container {
  display: flex;
  align-items: center;
}

header .banner .banner-content .button-container .play-button-container img {
  padding-top: 25px;
}

header .banner .banner-content .button-container .play-button-container h5 {
  color: #686d77;
  font-family: Poppins;
  font-size: 17px;
}

/* banner img part */

header .banner .banner-img-container {
  width: 60%;
  text-align: center;
}

header .banner .banner-img-container img {
  width: 100%;
  height: 100%;
}

/* Main Part Start */

main .services {
  width: 100%;
}

main .services .services-header {
  padding: 105px 0px 66px 0px;
}

main .services .services-header h5 {
  color: #5e6282;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

main .services .services-header h2 {
  color: #14183e;
  text-align: center;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}

main .services .services-card-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 73px;
  align-items: center;
  justify-content: space-between;
}

main .services .services-card-container .card {
  width: 190px;
  height: 227px;
  flex-shrink: 0;
  text-align: center;
}
main .services .services-card-container .best-flights-card {
  width: 267px;
  height: 314px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 36px;
  background: #fff;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);
  padding: 0 42px 45px 44px;
  position: relative;
}

main .services .services-card-container .card h4 {
  color: #1e1d4c;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  margin-top: 29px;
  margin-bottom: 15px;
}

main .services .services-card-container .best-flights-card h4 {
  color: #1e1d4c;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

main .services .services-card-container .card p {
  color: #5e6282;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  padding: 0 10%;
}

main .services .services-card-container .best-flights-card p {
  color: #5e6282;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  line-height: 26px;
  padding: 0 10%;
}

main
  .services
  .services-card-container
  .best-flights-card
  .rectangle-container {
  position: absolute;
  left: -14%;
  bottom: -12%;
  z-index: -1;
}

/* Top Destinations Section */

main .top-destinations .top-destinations-header {
  padding: 150px 0px 60px 0px;
}

main .top-destinations .top-destinations-header h5 {
  color: #5e6282;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

main .top-destinations .top-destinations-header h2 {
  color: #14183e;
  text-align: center;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}

main .top-destinations .card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  flex-wrap: wrap;
}

main .top-destinations .card-container .card {
  display: flex;
  align-items: end;
  width: 314px;
  height: 457px;
  flex-shrink: 0;
  border-radius: 24px;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);
}

main .top-destinations .card-container .card1 {
  background: url("../assets/images/Rectangle-14.png") lightgray 50% / cover
    no-repeat;
}

main .top-destinations .card-container .card2 {
  background: url("../assets/images/Rectangle-14(1).png") lightgray 50% / cover
    no-repeat;
}

main .top-destinations .card-container .card3 {
  background: url("../assets/images/Rectangle-14(2).png") lightgray 50% / cover
    no-repeat;
}

main .top-destinations .card-container .card .card-content {
  width: 315px;
  height: 130px;
  flex-shrink: 0;
  border-radius: 0px 0px 24px 24px;
  background: #fff;
  padding: 27px 25px 42px 20px;
}

main .top-destinations .card-container .card .card-content p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5e6282;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.5%;
}

main .top-destinations .card-container .card .card-content h4 {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 19px;
}

main
  .top-destinations
  .card-container
  .card
  .card-content
  h4
  .trip-duration-text {
  color: #5e6282;
  font-family: Poppins;
  font-size: 16px;
  line-height: 124.5%;
  margin-bottom: 5px;
}

/* Next Trip Section */

/* Testimonials Section */

main .testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10%;
  padding: 200px 48px 200px 0px;
}

main .testimonials .testimonials-header {
  width: 40%;
}

main .testimonials .testimonials-header h5 {
  color: #5e6282;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

main .testimonials .testimonials-header h2 {
  color: #14183e;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}

main .testimonials .testimonials-header img {
  margin-top: 82px;
}

main .testimonials .testimonials-card-container {
  width: 40%;
}

main .testimonials .testimonials-card-container .testimonial-card {
  width: 400px;
  height: 230px;
  padding: 34px 48px 34px 34px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--white, #fff);
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02),
    0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01),
    0px 1.852px 3.148px 0px rgba(0, 0, 0, 0);

  position: relative;
}

main .testimonials .testimonials-card-container .testimonial-card img {
  position: absolute;
  left: -8.5%;
  top: -11%;
}

main .testimonials .testimonials-card-container .testimonial-card > p {
  color: #5e6282;
  font-family: Poppins;
  font-size: 16px;
  line-height: 28px;
}

main .testimonials .testimonials-card-container .testimonial-card div h5 {
  margin-top: 34px;
  margin-bottom: 5px;
  color: #5e6282;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
}

main .testimonials .testimonials-card-container .testimonial-card div p {
  color: #5e6282;
  font-family: Poppins;
  font-size: 14px;
}

/* logo section start */

main .logo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

main .logo-container div{
  height: 162px;
  padding: 0px 3px;
  display: flex;
  align-items: center;

}

main .logo-container div img {
  width: 162px;
}
